<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Pokeneas</h1>
    <p>The routes are:</p>
    <ul>
        <li><a href="<%= baseUrl %>:<%= port %>/info">/info</a></li>
        <li><a href="<%= baseUrl %>:<%= port %>/imageAndPhrase">/imageAndPhrase</a></li>
    </ul>
</body>
</html>