<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Pokenea Image and Phrase</title>
</head>
<body>
    <div>
        <img src="<%= image %>" alt="Pokenea Image" style="height: 500px;" />
        <p>Frase Filosófica: <%= philosophicalPhrase %></p>
        <p>ID contenedor <%= containerId %></p>
    </div>
</body>
</html>